page-tabla4modal {
 form {
    margin-bottom: 32px;
   
  }

  p {
    font-size: 0.8em;
    color: red;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid red;
    color:red;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
    color: red;
  }
}
